.home {
    text-align: center;
    background-color: #f3f5f7;
    color: #1d334a; 
}

.home h2 {
    background-color: #f3f5f7;
    margin: 15px 0 15px 0;
}

/* header */
.header-container {
    display: flex;
    justify-content: center;
    color: whitesmoke;
    background-color: #1d334a;    
}

.header-container img {
    position: absolute;
    left: 20px;
    top: 17px;
    height: 30px;
    width: auto;    
}

/* footer */
.footer {
    color: #f3f5f7;
    background-color:#4f8bc9;
    text-align: center;
    padding: 3px 0px 3px 0;
    margin-top: 15px;
}

