.student-bar {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.student-bar a {
    padding: 0px 15px 0 15px;
    text-decoration: none;
    color:#1d334a; 
    font-weight: 500;
}

.student-bar img {
    display: grid;
    margin: 10px 0 10px 0;
    border-radius: 50%;
    width: 40px;
}